@use "../../theme";

@include theme.form-theme;

.current-users {
  margin: 1rem 1rem 1rem auto;
  width: 50vw;
  border: 2px solid theme.$orange;
  padding: 0.5rem;

  p {
    margin: 0.25rem 1rem;
  }
}

.messages {
  margin: 1rem;

  .message {
    color: theme.$green;
  }

  #me {
    color: theme.$red;
  }

  #server {
    color: theme.$blue;
  }
}
