@use "./theme";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkslategrey;
  color: theme.$orange;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label,
button,
input {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

button,
input {
  background-color: theme.$orange;
  border: none;
  color: darkslategrey;
  &:focus {
    outline: slategrey;
  }
}
