@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
$orange: rgb(241, 175, 75);

* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkslategrey;
  color: rgb(250, 180, 95);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.label-input {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  input {
    margin-left: auto;
  }
  button {
    min-width: 3rem;
    &:disabled {
      display: none;
    }
  }
}

label,
button,
input {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

button,
input {
  background-color: $orange;
  border: none;
  color: darkslategrey;
  &:focus {
    outline: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: darkslategrey;
  background-color: $orange;
}

.message {
  color: rgb(105, 223, 105);
}

#me {
  color: rgb(197, 102, 102);
}

#server {
  color: rgb(133, 133, 240);
}
